<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin page{% endblock %}</title>
</head>
<body>
<div class="content-admin">

    <a style = "margin-left:500px; margin-bottom:10px; " class="btn btn-primary" href="{% url 'addflights' %}">Add Flights</a>
    {% for flight in flights %}
    <ul style="list-style-type:none;">
               <li style="margin-right:100px;">
                <a style="text-decoration : none;color : #4b5156; "
                   href="{% url 'flightdetails' flight.id %}"> {{flight.flightName}}</a>
                {{flight.flightNumber}}
                {{flight.journeyDate}}
                {{flight.flightFrom}} -
                {{flight.flightTo}}
                <a class="btn btn-primary" href="{% url 'flightupdate' flight.id %}">Update</a>
                <a class="btn btn-primary" href="{% url 'flightdelete' flight.id %}">Delete</a> </li>
     </ul>
    {% endfor %}

</div>


</body>
{% endblock %}
</html>